body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(196, 10, 202);
}
.box:hover{
    background-color: blue;
}