body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 100px;
    transition: 2s;
}
.box:hover{
    width: 100px;
    height: 100px;
    background-color: rgb(230, 126, 0);
    border: 1px solid black;
}
